In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("Housing[1].csv")

In [4]:
df.head()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 545 entries, 0 to 544
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   price             545 non-null    int64
 1   area              545 non-null    int64
 2   bedrooms          545 non-null    int64
 3   bathrooms         545 non-null    int64
 4   stories           545 non-null    int64
 5   mainroad          545 non-null    object
 6   guestroom         545 non-null    object
 7   basement          545 non-null    object
 8   hotwaterheating   545 non-null    object
 9   airconditioning   545 non-null    object
 10  parking           545 non-null    int64
 11  prefarea          545 non-null    object
 12  furnishingstatus  545 non-null    object
dtypes: int64(6), object(7)
memory usage: 55.5+ KB

In [5]:
df.isnull().sum()

price               0
area                0
bedrooms            0
bathrooms           0
stories             0
mainroad            0
guestroom           0
basement            0
hotwaterheating     0
airconditioning     0
parking             0
prefarea            0
furnishingstatus    0
dtype: int64

In [9]:
num_cols = df.select_dtypes(include=np.number).columns

for col in num_cols:
    df[col] = df[col].fillna(df[col].median())

In [10]:
cat_cols = df.select_dtypes(include='object').columns

for col in cat_cols:
    df[col] = df[col].fillna(df[col].mode()[0])

In [8]:
before = df.shape[0]
df.drop_duplicates(inplace=True)
after = df.shape[0]

print("Rows before:", before)
print("Rows after:", after)

Rows before: 545
Rows after: 545

In [14]:
df['Price_Category'] = pd.cut(
    df['price'],
    bins=[0,100000,200000,300000,500000,1000000],
    labels=['Low','Medium','High','Very High','Luxury']
)

In [18]:

cleaned = pd.read_csv("cleaned_house_prices.csv")
cleaned.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus,Price_Category
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished,NaN
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished,NaN
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished,NaN
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished,NaN
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished,NaN

In [19]:
df['price'].min(), df['price'].max()

(1750000, 13300000)

In [20]:
df['Price_Category'] = pd.qcut(
    df['price'],
    q=5,
    labels=['Very Low','Low','Medium','High','Very High']
)

In [21]:
df['Price_Category'].value_counts()

Price_Category
Very Low     115
Medium       111
Very High    109
High         106
Low          104
Name: count, dtype: int64

In [24]:
df.to_csv("cleaned_house_prices.csv", index=False)